.theme-toggle-button {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px;
    border-radius: 9999px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.2rem;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    width: 100%;
}

.theme-toggle-button:hover {
    background-color: var(--background-color);
}